<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .item{
            background-color: rgba(165, 42, 42, 0.267);
            display: inline-block;
            width: 200px;
            padding: 10px 10px;
            border-radius: 5px;
            margin: 10px 20px;

        }
        b{
            font-size: 120%;
            color: orangered;
        }
        figure{
            text-align: center;
        }
        header{
            overflow: auto;
        }
        header h1{
            float: left;
        }
        #cart-btn{
            float: right;
            margin: 20px 30px;
            font-size: 120%;
        }
        form{
            display: inline-block;
        }
        #cart-form{
            float: right;
        }
        table{
            width: 60%;
            margin: auto;
        }
        table th#qty-th,table th#price-th{
            width: 100px;
        }
        .num-td{
            text-align: right;
        }
    </style>
</head>
<body>
    <header>
        <h1> AUSSIE FOOD MART</h1>
    </header>
    <main>
        <table border="1">
            <tr>
                <th> Product Name</th>
                <th id="qty-th"> Quantity </th>
                <th id="price-th"> Price </th>
            </tr>
            <%
            order.forEach(orderItem => {
                %>
                <tr>
                    <td><%= JSON.parse(orderItem.item).name%></td>
                    <td class="num-td"><%= parseInt(orderItem.qty)%></td>
                    <td class="num-td"><%= parseFloat(JSON.parse(orderItem.item).price * orderItem.qty).toFixed(2) %></td>
                </tr>    
            <%
                });
            %>
        </table>
            <br/>
        
            <center>
                <form method="POST">
                    <label>Customer Name: </label><input name="cName" type="text"/>
                    <label>Delivery: </label><input name="dDate" type="date"/>
                    <input type="submit" name="complete" value="Complete Order"/>
                    <input type="submit" name="cancel" value="cancel"/>
                </form>
                
            </center>
    </main>
    <footer>

    </footer>
</body>
</html>